/* Profile container with background image and opacity */
.card-bg {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5%;
  }
  
  /* Pseudo-element for background image with opacity */
  .card-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/bg.jpg") no-repeat center center/cover;
    opacity: 0.5; /* Apply opacity to the background image */
    z-index: -1; /* Ensure the background is behind other content */
  }
  
.create-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Card styling */
.create-task-card {
  padding: 1rem;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1);
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}


.create-task-title {
  text-align: center;
  color: #007bff;
  margin-bottom: 1rem;
}

.form-label {
  color: #6c757d;
}

/* Form inputs */
.create-task-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

.create-task-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

/* Submit button */
.create-task-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  transition: all 0.3s ease;
}

.create-task-btn:hover {
  background-color: #0056b3;
}

/* Invalid feedback */
.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}
